<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="s1.css">
    <link rel="stylesheet" href="img.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header >
        <div class="header1">
            <div class="subheader1">
                <a class="subsubheader1">Blog</a>
                <a class="subsubheader1">Videos</a>
                <a class="subsubheader1">Web Stories</a>
                <a class="subsubheader1">About</a>
                <a class="subsubheader1">Our Policies</a>
                <a class="subsubheader1">Contact Us</a>
            </div>

        </div>
        <div class="header2">
            <img class='img1' src="images/Mahakumbh-weblogo-blackkk.png">
            <div class="subheader2">
                <a class="subsubheader2" href="home.html">Home</a>
                <a class="subsubheader2" href="shahisnan.html">Shahi Snan</a>
                <a class="subsubheader2" href="accomodations.html">Accommodations</a>
                <a class="subsubheader2" href="tours.html">Tours</a>
                <a class="subsubheader2" href="experiences.html">Experiences</a>
            </div>
            <div>
                <input type="text" class="search-bar" placeholder="Search">
                <button class="submit-button"  type="submit"><i class="fa fa-search"></i></button>

            </div>
        

        </div>
    </header>
    
    
    <footer>
        <div class="footer1">
            <p class="subfooter1a">Memberships & Affiliations:</p>
            <div class="subfooter1b">
                <img class="img2" src="images/Ministry-of-tourism-logo.webp">
                <img class="img3" src="images/Incredible-india-logo.webp">
                <img class="img4" src="images/Uttar-Pradesh-tourism-logo.webp">
                <img class="img5" src="images/travel-samagam-aws-activate.webp">
                <img class="img6" src="images/travel-samagam-abto-member.webp">
                <img class="img7" src="images/download.png">

            </div>
            

        </div>
        <div class="footer2">
            <p class="subfooter2a">
                Payment Methods Available:
            </p>
            <div class="subfooter2b">
                <img class="img8" src="images/paypal-payments.webp">
                <img class="img8" src="images/gpay-payments.webp">
                <img class="img8" src="images/visa-payments.webp">
                <img class="img8" src="images/mastercard-payments.webp">
            </div>
            <div class="subfooter2c" >
                <a class="subsubfooter2ca">Privacy Policy</a>
                <a class="subsubfooter2ca">Refunds & Cancellations</a>
                <a class="subsubfooter2ca">Terms & Conditions</a>
                <p class="subsubfooter2ca">2023-2024 Travel Samagam Pvt. Ltd. All Rights Reserved.</p>
                <p class="subsubfooter2ca">Mail Us:</p>
                <p class="subsubfooter2ca">Contact Us:</p>
                

                
            </div>
            <div class="subfooter2d">
                <p class="subsubfooter2da">CIN: U63030UP2022PTC169108</p>
                <p class="subsubfooter2da">info@mahakumbh.in</p>
                <p class="subsubfooter2da">+917754097777, +919115234555</p>
                <p></p>
                <p class="subfooter2db">Our Ventures</p>
                <p></p>

            </div>
            
            
            <div class="subfooter2f">
                <img class="img9" src="images/Prayag-Samagam-n-LOGO.webp">
                <img class="img9" src="images/Smallest-pandits-logo.webp">
            </div>

        </div>
    </footer>
</body>
</html>