/* style.css */
* {
    font-family: 'Montserrat', sans-serif;
}

.bg-light {
    background-color: transparent !important;
}




.navbar-nav a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.w-100 {
    height: 100vh;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
}

/* media.css */
@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
    }

   
    
}
#hero-section {
    background-image: url("{% static 'images/snan.jpg' %}"); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full-screen height */
    position: relative;
    z-index: 1;
}

#hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Optional: Adds a dark overlay */
    z-index: -1;
}

#hero-section h1 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

#hero-section p {
    font-size: 20px;
    margin-top: 10px;
}
.card .img-wrapper {
    max-width: 80%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 100%;
}

@media (min-width: 768px) {
    .carousel-inner {
        display: flex;
    }

    .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }
}

.carousel-inner {
    padding: 1em;
}

.card {
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}